version: "3.8"

services:
  kong:
    image: kong:3.6
    container_name: kong
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_LOG_LEVEL: debug

      ORGANIZATIONS_URL: ${ORGANIZATIONS_URL}
      PROJECTS_URL: ${PROJECTS_URL}
      PLANIFIKA_USERS_URL: ${PLANIFIKA_USERS_URL}

    volumes:
      - ./kong.yml:/usr/local/kong/declarative/kong.yml

    ports:
      - "8080:8000"  # Proxy
      - "8001:8001"  # Admin API
